.photo-grid {
  display: grid;
  grid-template-columns: minmax(320px, 1184px);
  justify-content: center;
}

@media screen and (max-width: 1152px) {
  .photo-grid {
    grid-template-columns: minmax(320px, 928px);
  }
}

@media screen and (max-width: 800px) {
  .photo-grid {
    grid-template-columns: 94%;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid {
    grid-template-columns: 288px;
  }
}
