.places {
  display: grid;
  grid-template-columns: minmax(320px, 984px);
  justify-content: center;
}

@media screen and (max-width: 1152px) {
  .places {
    grid-template-columns: minmax(320px, 928px);
  }
}

@media screen and (max-width: 800px) {
  .places {
    grid-template-columns: 94%;
  }
}

@media screen and (max-width: 480px) {
  .places {
    grid-template-columns: 100%;
  }
}
