.places__text {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 825px) {
  .places__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .places__text {
    width: 90%;
    margin: 0 auto;
  }
}
