.places__list-block {
  display: grid;
  grid-template-columns: 47% 49%;
  gap: 48px 4%;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .places__list-block {
    grid-template-columns: 320px;
    gap: 32px;
  }
}
